/* @import 'typeface-roboto'; */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.topRect {
  height: 74px;
  /* height: 20%; */
  /* width: 1440px; */
  width: 100%;
  background-color: #000000;
  line-height: 74px;
}

.header {
  height: 75px;
  width: 100%;
}

.secondHeader {
  height: 199px;
  width: 100%;
  /* background: #086387; */
  background-image: url('background.jpg');
  margin-bottom: 95px;
  padding-top: 20px;
}

h1 {
  /* height: 86px; */
  width: 691px;
  color: #FFFFFF;
  font-family: 'Roboto Condensed';
  font-size: 45px;
  letter-spacing: 0.3px;
  line-height: 59px;
  text-align: left;
  padding-left: 74px;
  margin-bottom: 0;
}

.create-your-project {
  height: 57px;
  width: 637px;
  color: #282828;
  font-family: "Roboto Condensed";
  font-size: 32px;
  letter-spacing: 0.21px;
  line-height: 43px;
  text-align: center;
}

#logo-top {
  width: 5%;
  height: auto;
  position: relative;
  right: 45%;
  padding-top: .95%;
  padding-left: 2.5%;
}

#logo-bottom {
  position: relative;
  top: 10%;
  right: 1%;
  width: 4%;
  height: auto;
  padding-left: 3%;
  padding-right: 8%;
}

.footer {
  height: 74px;
  /* width: 1440px; */
  width: 100%;
  background-color: #000000;
  vertical-align: bottom;
  padding-top: .5%;
  padding-bottom: 1%;
  text-align: left;
}

p {
  position: relative;
  display: inline;
  color: white;
  padding-right: 5%;
  font-family: 'Roboto Condensed';
  font-size: 13px;
  line-height: 20px;
  right: 5%;
  cursor: pointer;
}

.mask {
  height: 400px;
  width: 637px;
  /* background: green;  */
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 36.97%, #FFFFFF 100%);
  box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.03);
  padding-top: 1px;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 139px;
}

h6 {
  height: 72px;
  width: 355px;
  color: #333C4E;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 64px;
  padding-left: 135px;
}

.background {
  background: #f4f4f4
}

.line-2 {
  box-sizing: border-box;
  height: 2px;
  width: 234px;
  border: 2px solid #017492;
  margin-top: 0px;
  margin-right: 400px;
  margin-left: 3px;
  margin-bottom: 10px;
}

.button-box {
  height: 91px;
  width: 637px;
  background: #f7f7f7;
  /* background: gray;  */
  padding-top: 1px;
  margin-top: -1px;
  /* padding-top: 24px; */
}

.button {
  height: 43px;
  width: 264px;
  border-radius: 2px;
  background: linear-gradient(180deg, #038FB8 0%, #036C93 100%);
  margin-top: 24px;
  /* padding-top: 1px;
  margin-top: -1px; */
  margin-left: 186.5px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background: linear-gradient(180deg, rgb(2, 100, 129) 0%, rgb(3, 88, 119) 100%);

}

h2 {
  height: 57px;
  width: 637px;
  color: #282828;
  font-family: 'Roboto Condensed';
  font-size: 32px;
  letter-spacing: 0.21px;
  line-height: 43px;
  text-align: center;
}

h3 {
  position: relative;
  color: #FFFFFF;
  font-family: 'Roboto Condensed';
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 20px;
  display: inline;
  right: 42%;
  bottom: 11.5%;
  text-align: center;
  cursor: pointer;
}

#subtitle {
  position: relative; 
  height: 35px;
  width: 455px;
  color: #FFFFFF;
  font-family: "Roboto Condensed";
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 19px;
  right: 32.2%; 
  color: #3e96c9;
}

#button-text {
  position: relative; 
  height: 30px;
  width: 186px;
  color: white;
  font-family: "Roboto Condensed";
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-align: center;
  margin-top: 0px;
  padding-top: 50px;
  top: 26%; 
  left: 3%; 
}